/*
 * Copyright 2021 Keith & Koep GmbH
 *
 */

/*
Remarks:
Defines:
*/

#ifndef PANEL_LCD_DTSI
#define PANEL_LCD_DTSI

#define display_enable &gpio1 5

&mipi_dsi {

	status              = "disabled";
	panel@0 {
		compatible      = "az,atm0700";   /* call driver Panel-simple.c */
		reg             = <0>;
		pinctrl-0       = <&pinctrl_display_enable>;
		enable-gpio     = <display_enable GPIO_ACTIVE_HIGH>;
		dsi-lanes       = <2>;
		panel-width-mm  = <154>;
		panel-height-mm = <86>;
		power           = <&reg_display_pwr>;
		status          = "okay";

		port@1 {
			panel1_in: endpoint {
				remote-endpoint = <&mipi_dsi_out>;
			};
		};

	};
	
	port@1 {
		mipi_dsi_out: endpoint {
			remote-endpoint = <&panel1_in>;
		};
	};
};

#endif
