/*
 * Copyright 2020 Keith & Koep GmbH
 *
 */

/dts-v1/;

// Add defines here, which control behaviour of .dtsi:
#define DISPLAY_ENABLE SPIN100_GPIO1_IO05
#define display_enable &gpio1 5

#include "trizeps8plus.dtsi"
#include "atm0700l61ct-tr8p.dtsi"


/ {
	model      = "Keith & Koep GmbH iPANT7 i.MX8MP Trizeps8-Plus";
	compatible = "kk,trizeps8", "kk,trizeps8mini", "kk,trizeps8plus", "fsl,imx8mp-evk", "fsl,imx8mp";

	chosen {
		stdout-path = &uart1;
	};

	reg_display_pwr: display-pwr {
		compatible = "regulator-fixed";
		regulator-name = "DISPLAY PWCTRL";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_display_enable>;
		gpio = <spin100_gpio 0>;
		enable-active-high;
		regulator-always-on;
		vin-supply = <&reg_3v3>;
	};

};


&iomuxc {
	pinctrl_hog: hoggrp {
		fsl,pins = <
			//SPIN100_GPIO1_IO05	PAD_GPIO	/* LCD1_VCC_ON */
		>;
	};

	pinctrl_display_enable: display-enable 	{
		fsl,pins = < DISPLAY_ENABLE		PAD_GPIO_PU >; /* DISPLAY_ENABLE */
	};
};


&fpga {
	// AZ Display
	// 0x00		I2C_REG_ID:	0x61
	// 0x01		I2C_REG_TEMP:	simple memory register
	// 0x10		I2C_REG_DISPLAY:
	//	0x8.	invert PCLK polarity
	//	0x4.	invert HSync polarity
	// 	0x2.	invert VSync polarity
	//	0x1.	invert Data-Enable polarity
	//	0x.C	24 bpp
	//	0x.8	18 bpp
	//	0x.4	16 bpp
	//	0x.1	Enable MIPI-DSI to RGB conversion
	// 0x20
	//      0x01    Enable Wireless Module 2 UART4
	//      
	tr8fpga,addresses = < 0x10 0x20 >;
	tr8fpga,values    = < 0x8D 0x00 >;
	status = "okay";
};

// display
&mipi_dsi {
	status = "okay";
};

&lcdif1 {
	status = "okay";
};

&backlight {
	status = "okay";
};

&pwm1 {
	status = "okay";
};

// GPU
&gpu_2d {
	status = "okay";
};

&gpu_3d {
	status = "okay";
};

&ml_vipsi {
	status = "okay";
};

&mix_gpu_ml {
	status = "okay";
};
