/*
 * Copyright 2021 Keith & Koep GmbH
 *
 */

/*
Remarks:
Defines:
*/

#ifndef PANEL_SCF1001_DTSI
#define PANEL_SCF1001_DTSI


/ {
	panel_lvds1: panel1 {
		status          = "okay";
		compatible   = "panel-lvds";
		data-mapping = "vesa-24";
/*
		width-mm = <154>;
		height-mm = <86>;
*/
		width-mm = <217>;
		height-mm = <136>;
		backlight = <&backlight>;
		enable-gpios = <spin100_gpio GPIO_ACTIVE_HIGH>;

/*
		panel-timing {
			clock-frequency = <51206400>;
			hactive = <1024>;
			vactive = <600>;
			hfront-porch = <159>;
			hsync-len = <2>;
			hback-porch = <159>;
			vfront-porch = <17>;
			vsync-len = <1>;
			vback-porch = <17>;
		};
*/
		panel-timing {
			clock-frequency = <24390000>;
			hactive = <1280>;
			vactive = <800>;
			hfront-porch = <48>;
			hsync-len = <60>;
			hback-porch = <52>;
			vfront-porch = <10>;
			vsync-len = <3>;
			vback-porch = <10>;
		};

		port {
			panel_lvds1_in: endpoint {
				remote-endpoint = <&lvds1_out>;
			};
		};
	};

	reserved@board {
		compatible    = "kk,trizeps7-reserved";
		kk,gpio-names = "DISPLAY_PWR";
		kk,os-gpios   = <
			&gpio3 7 (KK_RSRVD_OUT_HI|KK_RSRVD_EXPORT|KK_RSRVD_REQUEST(0))
			>;
	};

	reserved@mcu {
		compatible     = "kk,trizeps8mcu-reserved";
/********************************************************************************************************************
* MCU Pin         6        5        4        3    20    21    23     9  24                  26          11         10
* GPIO          1.0      1.1       1.2     1.3   1.4   1.5   1.6   1.7                     1.8         1.9       1.10
* -------------------------------------------------------------------------------------------------------------------
* TR8MINI   VIN_AD3  VIN_AD2  VIN_AD1  VIN_AD0  TSPX  TSMX  TSPY  TSMY  RTCLK         nRESET_O     CAN1_RX    CAN1_TX
*                                                                                    +NAND-DQS
* SODIMM_MINI     2        4       6         8    14   16     18    20   -                  87          75        99
*
* TR8PLUS   VIN_AD3  VIN_AD2  VIN_AD1  VIN_AD0  TSPX  TSMX  TSPY  TSMY  nRESET_O  /WLANPWRDOWN      CIF_D9 /RF_DISABLE
*                                                                      +NAND-DQS
* SODIMM_PLUS     2        4       6         8    14   16     18    20       87             -           75          -
* -------------------------------------------------------------------------------------------------------------------
* *******************************************************************************************************************
*/
        kk,gpio-names  = "WAKE";
        kk,os-gpios = <
			&gpio1 9 (KK_RSRVD_OUT_HI|KK_RSRVD_EXPORT|KK_RSRVD_REQUEST(0))
			>;
	};
};


#define TOUCH_INT	SPIN45_GPIO
#define touch_int_parent  &gpio3
#define touch_int_pin     4

&iomuxc {
	pinctrl_captouch: captouchgrp {
		fsl,pins = <
			TOUCH_INT  		PAD_GPIO // IRQ
		>;
	};
};


&ldb {
	status = "okay";
	lvds-channel@0 {
		status = "okay";
		fsl,data-mapping = "spwg";
		fsl,data-width = <24>;
		port@1 {
			reg = <1>;
			lvds1_out: endpoint {
				remote-endpoint = <&panel_lvds1_in>;
			};
		};
	};
};

&ldb_phy {
	status = "okay";
};


#define GUF
#ifndef GUF
&i2c2 {
	touch: sis9255@5c {
		compatible       = "sis,9200-ts";
		reg              = <0x5c>;
		pinctrl-names    = "default";
		pinctrl-0        = <&pinctrl_captouch>;
		interrupt-parent = <touch_int_parent>;
		interrupts       = <touch_int_pin IRQ_TYPE_LEVEL_LOW>;
		irq-gpio         = <&gpio3 4 IRQ_TYPE_LEVEL_LOW>;
		/*
		//compatible       = "sis,sisi2c";
		//interrupt-parent = <&gpio3>;
		//interrupts       = <4 IRQ_TYPE_LEVEL_LOW>;
		//irq-gpio         = <&gpio3 4 IRQ_TYPE_LEVEL_LOW>;
		//irq-gpio       = <touch_int_pin IRQ_TYPE_LEVEL_LOW>;
		//irq-low-active   = <1>;
		*/
	};
};
#else
&i2c2 {
	touch: sis9255@5c {
		compatible       = "sis,sisi2c"; // GuF version
		reg              = <0x5c>;
		pinctrl-names    = "default";
		pinctrl-0        = <&pinctrl_captouch>;
		interrupt-parent = <touch_int_parent>;
		//interrupts       = <touch_int_pin IRQ_TYPE_LEVEL_LOW>;
		interrupts       = <touch_int_pin IRQ_TYPE_LEVEL_HIGH>;
		//reset-gpio       = <>;
		//wake-gpio        = <>;
		//irq-gpio         = <&gpio3 4 IRQ_TYPE_LEVEL_LOW>;
		irq-gpio         = <&gpio3 4 IRQ_TYPE_LEVEL_HIGH>;
		//irq-low-active;//   = <0>;
	};
};

#endif

#endif
